<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
                                    'the options for your pension pot.') %>

<div class="l-page-container">
  <p class="home-intro">Phone <b>0800 138 3944</b> to book a free appointment</p>
</div>

<div class="l-grid-row l-home-row l-home-row--accent">
  <div class="l-page-container">
    <div class="l-column-quarter">
      <p><img src="http://www.fillmurray.com/g/200/150"></p>
    </div>

    <div class="l-column-half">
      <h2 id="appointments">Pension Wise helps your understand what to do with your pension money</h2>

      <p>We're a free, impartial service for those over 50 with a defined contribution pension.</p>
    </div>

    <div class="l-column-quarter">
      <p><img src="http://www.fillmurray.com/g/200/150"></p>
    </div>
  </div>
</div>

<div class="l-page-container">
  <div class="l-grid-row l-home-row">
    <div class="l-column-half">
      <h2>Choose an option that's right for you</h2>

      <p>
        There are 5 ways you can take your pension money.<br>
        Choose an option to find out more.
      </p>

      <p><a href="/pension-pot-options">Not sure where to begin?</a></p>
    </div>

    <div class="l-column-half">
      <div class="l-home-options__option l-home-options__option--leave-pot-untouched">
        <span class="circle circle--m circle--leave-pot-untouched l-home-options__circle"></span>
        <a class="l-home-options__link" href="/leave-pot-untouched">Leave your pot untouched</a>
      </div>

      <div class="l-home-options__option l-home-options__option--guaranteed-income">
        <span class="circle circle--m circle--guaranteed-income l-home-options__circle"></span>
        <a class="l-home-options__link" href="/guranteed-income">Guaranteed income (annuity)</a>
      </div>

      <div class="l-home-options__option l-home-options__option--adjustable-income">
        <span class="circle circle--m circle--adjustable-income l-home-options__circle"></span>
        <a class="l-home-options__link" href="/adjustable-income">Adjustable income</a>
      </div>

      <div class="l-home-options__option l-home-options__option--take-cash-in-chunks">
        <span class="circle circle--m circle--take-cash-in-chunks l-home-options__circle"></span>
        <a class="l-home-options__link" href="/take-cash-in-chunks">Take cash in chunks</a>
      </div>

      <div class="l-home-options__option l-home-options__option--take-whole-pot">
        <span class="circle circle--m circle--take-whole-pot l-home-options__circle"></span>
        <a class="l-home-options__link" href="/take-whole-pot">Take whole pot</a>
      </div>
    </div>
  </div>
</div>

<div class="l-grid-row l-home-row--callout">
  <div class="l-page-container">
    <div class="l-home-row">
      <div class="l-column-half">
        <h2>Talk about your pension options</h2>

        <p>If you'd like to speak to someone about your options, we offer free appointments to help you make an informed decision.</p>
        <p><a href="/appointments" class="button">Book a free appointment</a></p>
      </div>

      <div class="l-column-half">
        <img src="http://www.fillmurray.com/g/300/400">
      </div>
    </div>

    <div class="l-home-row">
      <div class="l-column-half">
        <div class="statistic">
          <p class="statistic__label">Number of Pension Wise appointments to date</p>
          <p class="statistic__number">52,403</p>
        </div>
      </div>

      <div class="l-column-half">
        <div class="statistic">
          <p class="statistic__label">Satisfaction from our customers to date</p>
          <p class="statistic__number">89%</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="l-page-container">
  <div class="l-grid-row l-home-row">
    <div class="l-column-third">
      <h2 class="l-home-single-column-heading">Popular pages</h2>
    </div>

    <div class="l-column-third">
      <ul class="quick-links">
        <li><a href="#">How much is my pension worth?</a></li>
        <li><a href="#">Tax and pensions</a></li>
        <li><a href="#">The State Pension</a></li>
        <li><a href="#">Scams</a></li>
        <li><a href="#">Help talking to your provider</a></li>
      </ul>
    </div>
  </div>
</div>
