.statistic {
  padding-bottom: 2em;

  @include media(tablet) {
    max-width: 66%;
  }
}

.statistic--right {
  text-align: right;
  float: right;
}

.statistic__label {
  @extend .heading-small;
  font-size: 16px;
  margin-top: 0;
}

.statistic__number {
  @extend .heading-xlarge;
  font-size: 48px;
  margin-bottom: 0;
}
